<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="message-input-container">
    <div>
      <%= form.text_area :content, placeholder: "Reply with Yes Or No", disabled: disabled, :cols => "100", :rows => "2"  %>
    </div>
    <div>
      <%= form.submit "Answer", disabled: disabled %>
    </div>
  </div>
<% end %>
